* {
  font-family: "Roboto", sans-serif;
}

body {
  width: 100vw;
  margin: 0px;
  padding: 0px;
}

li {
  list-style: none;
  width: fit-content;
  font-size: 13px;
  font-weight: bold;
  color: black;
}

#navbarTop a {
  text-decoration: none;
  color: white;
}
a {
  color: #000;
  text-decoration: none;
}
ul {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding: 0px;
}

#navigations {
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 1;
  /* background-color: white; */
}

#navbarTop {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  width: 90vw;
  padding: 0px 5%;
}

#navbarTop img {
  width: 80px;
  cursor: pointer;
}

#navbarTop > div:first-child {
  display: flex;
  width: 40%;
  gap: 20px;
  height: fit-content;
  align-items: center;
}

#navbarTop input[type="search"] {
  height: fit-content;
  font-size: 13px;
  margin: 0px;
  padding: 10px 2px 10px 16px;
  border: 1px solid #c5c6c9;
  width: 280px;
  border-radius: 5px 0px 0px 5px;
  font-weight: bold;
}

#navbarTop > div:first-child > div {
  display: flex;
}

#navbarTop button {
  margin: 0px;
  background-color: black;
  color: white;
  font-size: 15px;
  width: 60px;
  border-radius: 0px 5px 5px 0px;
}

ul i {
  font-size: 13px;
}

ul > a:last-child {
  color: white;
  border: 1px solid;
  border-radius: 5px;
  padding: 3px 14px;
  font-weight: bold;
  font-size: 13px;
}

ul > a:last-child:hover {
  background-color: #1dbf73;
  border: 1px solid #1dbf73;
}

#search {
  visibility: hidden;
}

#navbarBottom ul {
  width: 90vw;
  justify-content: space-between;
}

#navbarBottom {
  display: none;
}

hr {
  margin: 0px;
  margin-bottom: 10px;
}

ul + hr {
  margin-bottom: 0px;
  margin-top: 10px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: fit-content;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  line-height: 25px;
}

.dropdown-content > div {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 3px;
  margin: 0px auto;
}

.dropdown-content a {
  font-weight: lighter;
}

.dropdown:hover .dropdown-content {
  display: flex;

  margin-top: 1px;
}

.dropdown:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

h4 {
  margin: 5px 0px;
  font-weight: bold;
}
li.dropdown:last-child .dropdown-content,
li.dropdown:nth-child(7) .dropdown-content,
li.dropdown:nth-child(8) .dropdown-content {
  right: 0;
  left: auto;
}

.maindiv {
  height: 95vh;
  width: 100vw;
  /* position: absolute; */
  background-image: url("/images/fiverr-b2b-copywriting-example.png");
  background-repeat: no-repeat;
  background-size: 100vw 95vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  animation: slider 15s infinite linear;
}
@keyframes slider {
  0% {
    background-image: url("/images/bg\ 1.png");
  }
  33% {
    background-image: url("/images/bg\ 2.png");
  }
  66% {
    background-image: url("/images/bg\ 3.jpg");
  }
  100% {
    background-image: url("/images/bg\ 4.png");
  }
}

.maindiv > div:first-child {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-left: 10%;
  color: white;
}

.maindiv > div:first-child h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
}
.maindiv > div:first-child h1 > span {
  font-size: 48px;
  font-weight: 500;
  line-height: 56px;
  font-style: italic;
  font-family: "Kaushan Script", cursive;
}

.maindiv form {
  display: grid;
  grid-template-columns: 1fr 8fr 2fr;
}
.maindiv #searchicon {
  /* width: 50px; */
  background-color: white;
  padding: 20px;
  color: rgb(82, 81, 81);
  border-radius: 6px 0px 0px 6px;
}
.maindiv input {
  /* border-radius: 50px; */
  font-size: 16px;
  border: none;
  padding: 8px 7px 7px 8px;
  font-weight: 500;
}

.maindiv input[type="submit"] {
  background-color: #1dbf73;

  border-radius: 0px 6px 6px 0px;
  color: white;
  font-weight: bold;
  padding: 12px 24px 12px 24px;
  cursor: pointer;
}

.maindiv > div:first-child > div > p > span {
  width: 100%;
  border: 1px solid;
  border-radius: 20px;
  margin: 0px 15px;
  padding: 5px 10px;

  line-height: 24px;
}
.maindiv p {
  font-size: 14px;
  font-weight: bold;
}

#trustedby {
  color: rgb(181, 182, 186);
  display: flex;
  justify-content: center;
  width: 90vw;
  height: 80px;
  gap: 40px;
  font-size: 10px;
  align-items: center;
  background-color: rgb(250, 250, 250);
}
#trustedby img {
  height: 60px;
}
#popularprsnlservices {
  width: 90vw;
  margin: auto;
}
#cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}
#cards p,
#cards h2 {
  position: absolute;
  color: white;
  font-weight: bold;
  padding: 10px;
  line-height: 5;
  margin-top: 0px;
}
#cards img {
  width: 100%;
}
#featuresbg {
  background-color: rgb(241, 253, 247);
  margin-top: 6%;
}
#features {
  display: flex;
  width: 90vw;
  margin: auto;
  padding: 6% 0%;
}
#features > div:last-child {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 50%;
}
#features > div:last-child img {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
}
#marketplace {
  width: 90%;
  margin: auto;
}
#marketplacecards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
#marketplacecards img {
  width: 50px;
}
#marketplacecards > div > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  font-weight: bold;

  width: fit-content;
}

#fiverbusiness {
  background-color: rgb(13, 8, 77);
  margin-top: 6%;
}
#featuresbusiness {
  display: flex;
  justify-content: space-between;
  width: 90vw;
  margin: auto;
  color: white;
  padding: 6% 0%;
}
#featuresbusiness > div:last-child {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 50%;
}
#featuresbusiness > div:first-child {
  justify-content: center;
  align-items: center;

  width: 30%;
}
#featuresbusiness p > i {
  color: rgb(122, 125, 133);
  font-weight: thin;
  margin-right: 3px;
}
#featuresbusiness h2 > button {
  background-color: rgb(88, 74, 255);
  border-radius: 30px;
  padding: 6px 12px;
  font-size: 10px;
}
#featuresbusiness h2 {
  display: flex;
  align-items: center;
}

#featuresbusiness > div:last-child img {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
}
#featuresbusiness button {
  background-color: #1dbf73;
  color: white;
  font-weight: bold;
  padding: 10px;
  border-radius: 8px;
  font-size: 14px;
}
iframe {
  width: 700px;
  height: 500px;
}

/* Video */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  margin: auto;
  width: fit-content;
}

#myBtn {
  width: 100%;
  cursor: pointer;
}

#myBtn + i {
  color: rgb(52, 46, 40);
  background-color: white;

  font-size: 80px;
  position: absolute;
  border-radius: 400px;
  cursor: pointer;
}

#feedback {
  display: flex;
  width: 90%;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
}
#feedback > div:first-child {
  width: 25%;
  position: relative;
  align-items: center;
}
#feedback > div:last-child {
  width: 70%;
  text-align: left;
}

#feedback img {
  width: 100%;
}

.feedbackmodal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;

  background-color: rgba(0, 0, 0, 0.4);
}

.feedbackmodal-content {
  margin: auto;
  width: fit-content;
}

.close {
  color: #f02626;
  float: right;
  font-size: 28px;
  font-weight: bold;
  border: 1px solid ;
  margin: 10px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid;
}
#feedbackmyBtn {
  width: 100%;
  cursor: pointer;
}

#feedbackmyBtn + i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(52, 46, 40);
  background-color: white;

  font-size: 80px;
  border-radius: 400px;
  cursor: pointer;
}

#feedback h5 img {
  width: 10%;
  display: block;
}
blockquote {
  padding: 0px;
  margin-left: 0px;
}
#logoMaker {
  width: 90%;
  height: 280px;
  margin: auto;
  padding: 0px;
  border: 1px solid;
  margin-top: 6%;
  margin-bottom: 6%;
  background-color: rgb(68, 110, 231);
  display: flex;
  justify-content: space-between;
}
#logoMaker img {
  width: 100%;
  height: 100%;
}
#logoMaker > div:first-child {
  padding-left: 3%;
  width: 70%;
  color: white;
  line-height: 30px;
}
#logoMaker > div:last-child {
  overflow: hidden;
  width: 200%;
}
#logoMaker p + button {
  background-color: white;
  border: none;
  border-radius: 3px;
  padding: 12px 24px 12px 24px;
  font-weight: bold;
  color: blue;
  font-size: 16px;
  line-height: 16px;
}

#logoMaker h1 > i {
  font-weight: 400;
}
#projects {
  padding: 5% 0%;

  background-color: rgb(245, 245, 245);
  /* height: fit-content; */
}
#projects h1 {
  margin-left: 5%;
}
#projectscards {
  width: 90%;
  height: 330px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.user {
  padding-left: 10px;
}

#projectscards img {
  width: 100%;
  height: 250px;
}
#projectscards h5,
#projectscards p {
  margin: 0px;
}
#projectscards > div {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#guides {
  width: 90%;
  margin: auto;
  margin-top: 6%;
  margin-bottom: 6%;
}
#guides > div:first-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#guides > div:first-child a {
  color: blue;
}
#guides > div:last-child {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  line-height: 20px;
}
#getsarted {
  width: 90%;
  margin: auto;
  margin-top: 6%;
  margin-bottom: 6%;
}
#getsarted > div {
  position: absolute;
  height: 430px;
  display: flex;
  align-items: center;
  color: white;
  width: 45%;
}
#getsarted > div > div {
  padding: 6%;
}
#getsarted h1 {
  font-size: 48px;
}
#getsarted button {
  background-color: #1dbf73;
  border: none;
  border-radius: 3px;
  padding: 12px 24px 12px 24px;
  font-weight: bold;
  color: white;
  font-size: 16px;
  line-height: 16px;
}
#footercards {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
#footercards a {
  display: block;
  line-height: 30px;
}
#footercards a:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
}

#footercards a > p {
  margin-top: 0px;
  line-height: 15px;
}
#footercards + hr {
  width: 90%;
  margin: auto;
}
#copyright img {
  width: 15%;
}
#copyright {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}
#left {
  display: flex;
  align-items: center;

  width: 45%;
}
#right {
  display: flex;

  width: 45%;
  justify-content: space-between;
}
#social {
  width: 45%;
}
#right i,
#right li {
  font-size: 18px;
}
#settings {
  width: 45%;
}

.signInmodal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;

  background-color: rgba(0, 0, 0, 0.4);
}

.signInmodal-content {
  margin: auto;
  width: fit-content;
}
#signInmyModal #greenbtn {
  margin-top: 10px;
  padding: 12px 24px;
  font-size: 16px;
  background-color: #1dbf73;
  border: none;
  color: white;
  font-weight: bold;
  width: 80%;
  border-radius: 5px;
  /* margin: 10px; */
}
#signInmyModal input {
  display: block;
  width: 80%;

  border-radius: 5px;
  font-size: 15px;
  padding: 12px 24px;
  margin: 3px 0px;
}
#signInmyModal {
  background-color: white;
  width: 50%;
  padding-top: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: max-content;
  border-radius: 10px;
}
#signinconatiner {
  text-align: center;
  margin: 10px;
}
#signinconatiner h1 + p {
  background-color: rgb(66, 103, 178);
  color: white;
}
#signinconatiner>p {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid;
  border-radius: 10px;
}

.hr-lines{
  position: relative;
  text-align: center;
}

.hr-lines:before{
  content:" ";
  height: 2px;
  width: 90px;
  background: rgb(0, 0, 0);
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
}

.hr-lines:after{
  content:" ";
  height: 2px;
  width: 90px;
  background: rgb(0, 0, 0);
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
}

#signinconatiner>div>p{
  text-transform: uppercase;
  color: rgb(0, 0, 0);
}
#signinconatiner img{
  width: 16px;
height: 16px;

}